@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-size: 15px;
    height: 100vh;
    font-family: "Outfit", sans-serif;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0;
}

.Qr-Code {
    width: 350px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 30px 0px rgb(31, 50, 81, 0.27);
    -moz-box-shadow: 0px 0px 30px 0px rgb(31, 50, 81, 0.27);
    box-shadow: 0px 0px 30px 0px rgb(31, 50, 81, 0.27);   
}

.Qr-Code div {
    text-align: center;
    flex-wrap: wrap;
    width: 300px;
}

.Qr-Code div h1 {
    font-size: 1.6rem;
    margin-top: 10px;
}

p {
    color: var(--grayish-blue);
}

a {
    text-decoration: none;
}

img {
    width: 310px;
    border-radius: 15px;
    margin: 20px;
}